*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 10px;
}
.conteiner-songs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-songs li{
    list-style: none;
}

figcaption{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}